version: "3.8"

services:
  backend:
    image: public.ecr.aws/s2e1n3u8/mdb-bfsi-credit-reco-genai-backend
    container_name: backend_agentic
    env_file:
      - .env
    ports:
      - "5001:5001"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

  frontend:
    image: public.ecr.aws/s2e1n3u8/mdb-bfsi-credit-reco-genai-frontend
    container_name: frontend
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
